@charset "utf-8";

@media(max-width:960px){
    .wrapper-parallax{margin-top: 100%; margin-bottom: 200px;}
    header .logo{height: 110px;}
    header .logo > a > img{height: 60px; left: 30px; top: 25px;}
    .parent{margin: 0px 30px 30px;}
    .title{display: block; width: 100%; top: 620px;}
    .sub_tit{display: block; top: 670px;}
    .news960{display: flex; align-items: center; justify-content: center; margin: 10vh 0;}
    .content{padding: 260px 30px 30px;  background: url(../img/content_background_960.png);}
    .contents > h1{display: none;}
    .contents > article{height: 28%; margin-bottom: 30%;}
    .contents h3{font-size: 1.1em; margin-top: 4%; text-align: center;}
    .contents h3::before{bottom: -80%;}
    .contents .cont1{background-image: url(../img/cont1_960.png); aspect-ratio: 4/3;}
    .contents .cont2{background-image: url(../img/cont2_960.png); aspect-ratio: 4/3;}
    .contents .cont3{background-image: url(../img/cont3_960.png); aspect-ratio: 4/3;}
    .contents .cont4{background-image: url(../img/cont4_960.png); aspect-ratio: 4/3;}
    .slide1 {background-image: url("../img/banner1_960.png")}
    .menu-btn{right: 30px;}
}
@media(max-width:600px){
    .wrapper-parallax{margin-top: 100%; margin-bottom: 100px;}
    .parent{margin: 0% 15px 15px;}
    header .logo{height: 166px;}
    header .logo > a > img{left: 50%; transform: translate(-50%); top: 50px;}
    .title{display: block; top: 510px; margin: 0; font-size: 8vw; line-height: 11vh; text-align: center;}
    .sub_tit{display: block; top: 555px; margin: 0 5%; font-size: 3vw;}
    .sub_tit::before{bottom: -30px; }
    .news960{bottom: 0px; margin: 5vh 0;}
    .content{padding:  200px 15px 15px;  background: url(../img/content_background_600.png);}
    .contents > h1{display: none;}
    .contents > article{width: 100%; height: 15%; margin-bottom: 20%; margin-right: 0px; background-color: transparent;}
    .contents > article:nth-of-type(2n){margin-right: 0; margin-right: 0px;}
    /* .contents > article::before{display: none;} */
      .contents .cont1{
        width: 47%;
        float: left;
        margin-right: 6%;
      }
      .contents .cont2{
        width: 47%;
        float: right;
      }
      .contents .cont3{
        width: 47%;
        float: left;
        margin-right: 6%;
      }
      .contents .cont4{
        width: 47%;
        float: right;
      }
      .contents h3::before{display: none;}
    .contents h3{font-size: 1.1rem; display: block; margin-top: 0; text-align: left; width: 47%; float: right;}
    .contents h3:nth-child(2n){float: left;}
    .menu-btn{right: 15px; top: 50px;}
    .right{scale: 0.92;}
    .left{scale: 0.92;}
    .contents > article > div{position: relative;}
    .contents > article > div:hover{scale: 1;}
    .contents > article > div::before{
      content: "";
      position: absolute;
      right: -7%;
      width: 1px;
      height: 100%;
      background-color: #bf0;
    }
    .contents > article:nth-of-type(2n) > div::before{
      content: "";
      position: absolute;
      left: -7%;
      width: 1px;
      height: 100%;
      background-color: #bf0;
    }
    .left{left: 22px;}
}